In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [65]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget # создание столбца прибыли
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
208,tt2318092,20000000,34077920,Endless Love,Alex Pettyfer|Gabriella Wilde|Robert Patrick|R...,Shana Feste,Say Goodbye to Innocence,When beautiful Jade (Gabriella Wilde) meets ch...,103,Drama|Romance,Universal Pictures|Fake Empire|Bluegrass Films,2/12/2014,6.6,2014,14077920
1619,tt0368008,80000000,96105964,The Manchurian Candidate,Denzel Washington|Meryl Streep|Liev Schreiber|...,Jonathan Demme,This summer everything is under control.,When his army unit was ambushed during the fir...,129,Drama|Thriller|Mystery,Paramount Pictures|Scott Rudin Productions|Cli...,7/30/2004,6.1,2004,16105964
1070,tt1840417,6000000,13231461,The Words,Bradley Cooper|Zoe Saldana|Jeremy Irons|Dennis...,Brian Klugman|Lee Sternthal,There's more than one way to take a life.,The Words follows young writer Rory Jansen who...,96,Drama|Thriller,Serenade Films|CBS Films|Also Known As Pictures,9/7/2012,6.3,2012,7231461
1628,tt0361596,6000000,119114517,Fahrenheit 9/11,Michael Moore|George W. Bush|Ben Affleck|Stevi...,Michael Moore,Controversy... what controversy?,Michael Moore's view on what happened to the U...,122,Documentary,BIM Distribuzione|Fellowship Adventure Group,6/25/2004,6.6,2004,113114517
55,tt1502712,120000001,167977596,Fantastic Four,Miles Teller|Kate Mara|Michael B. Jordan|Jamie...,Josh Trank,Change is coming.,Four young outsiders teleport to a dangerous u...,100,Action|Adventure|Science Fiction,Twentieth Century Fox Film Corporation|Marv Fi...,8/5/2015,4.4,2015,47977595

In [13]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [19]:
answers = {} # создадим словарь для ответов

data['profit'] = data.revenue - data.budget # создание столбца прибыли

# функция создающая список уникальных жанров
def genres_list():
    global_genres_list = []
    counts_unique_genres = data.genres.nunique()
    unique_genres = data.genres.unique()
    for i in range(0,counts_unique_genres):
        if '|' in unique_genres[i]:        
            for ii in range(0,len(unique_genres[i].split('|'))):
                if unique_genres[i].split('|')[ii] not in global_genres_list:
                    global_genres_list.append(unique_genres[i].split('|')[ii])            
        else:
            if unique_genres[i] not in global_genres_list:
                global_genres_list.append(unique_genres[i])
    return global_genres_list

# функция создающая список уникальных режисеров
def director_list():
    global_director_list = []
    counts_unique_director = data.director.nunique()
    unique_director = data.director.unique()
    for i in range(0,counts_unique_director):
        if '|' in unique_director[i]:        
            for ii in range(0,len(unique_director[i].split('|'))):
                if unique_director[i].split('|')[ii] not in global_director_list:
                    global_director_list.append(unique_director[i].split('|')[ii])            
        else:
            if unique_director[i] not in global_director_list:
                global_director_list.append(unique_director[i])
    return global_director_list

# функция создающая список уникальных актеров
def cast_list():
    global_cast_list = []
    counts_unique_cast = data.cast.nunique()
    unique_cast = data.cast.unique()
    for i in range(0,counts_unique_cast):
        if '|' in unique_cast[i]:        
            for ii in range(0,len(unique_cast[i].split('|'))):
                if unique_cast[i].split('|')[ii] not in global_cast_list:
                    global_cast_list.append(unique_cast[i].split('|')[ii])            
        else:
            if unique_cast[i] not in global_cast_list:
                global_cast_list.append(unique_cast[i])
    return global_cast_list

# функция создающая список уникальных актеров в фильмах 2012 года
data_2012 = data[data.release_year == 2012]
def cast_list_2012():
    global_cast_list_2012 = []
    counts_unique_cast = data_2012.cast.nunique()
    unique_cast = data_2012.cast.unique()
    for i in range(0,counts_unique_cast):
        if '|' in unique_cast[i]:        
            for ii in range(0,len(unique_cast[i].split('|'))):
                if unique_cast[i].split('|')[ii] not in global_cast_list_2012:
                    global_cast_list_2012.append(unique_cast[i].split('|')[ii])            
        else:
            if unique_cast[i] not in global_cast_list_2012:
                global_cast_list_2012.append(unique_cast[i])
    return global_cast_list_2012

# функция создающая список уникальных актеров в 500 самых бюджетных фильмах
data_top = data[data.budget > data.budget.mean()]
def cast_list_top():
    global_cast_list_top = []
    counts_unique_cast = data_top.cast.nunique()
    unique_cast = data_top.cast.unique()
    for i in range(0,counts_unique_cast):
        if '|' in unique_cast[i]:        
            for ii in range(0,len(unique_cast[i].split('|'))):
                if unique_cast[i].split('|')[ii] not in global_cast_list_top:
                    global_cast_list_top.append(unique_cast[i].split('|')[ii])            
        else:
            if unique_cast[i] not in global_cast_list_top:
                global_cast_list_top.append(unique_cast[i])
    return global_cast_list_top

# функция преобразования даты релиза в номер месяца
def release_date_month(date):
    month = date.split('/')[0]
    return month

# функция создающая список уникальных режисеров
def director_list():
    global_director_list = []
    counts_unique_director = data.director.nunique()
    unique_director= data.director.unique()
    for i in range(0,counts_unique_director):
        if '|' in unique_director[i]:        
            for ii in range(0,len(unique_director[i].split('|'))):
                if unique_director[i].split('|')[ii] not in global_director_list:
                    global_director_list.append(unique_director[i].split('|')[ii])            
        else:
            if unique_director[i] not in global_director_list:
                global_director_list.append(unique_director[i])
    return global_director_list

# функция создающая список уникальных студий
def production_companies_list():
    global_production_companies_list = []
    counts_unique_production_companies = data.production_companies.nunique()
    unique_production_companies= data.production_companies.unique()
    for i in range(0,counts_unique_production_companies):
        if '|' in unique_production_companies[i]:        
            for ii in range(0,len(unique_production_companies[i].split('|'))):
                if unique_production_companies[i].split('|')[ii] not in global_production_companies_list:
                    global_production_companies_list.append(unique_production_companies[i].split('|')[ii])            
        else:
            if unique_production_companies[i] not in global_production_companies_list:
                global_production_companies_list.append(unique_production_companies[i])
    return global_production_companies_list

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [88]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' # +
# если ответили верно, можете добавить комментарий со значком "+"

In [13]:
# тут пишем ваш код для решения данного вопроса:
data.original_title[data.budget == data.budget.max()]

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' # +

In [10]:
data.original_title[data.runtime == data.runtime.max()]

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [15]:
data.original_title[data.runtime == data.runtime.min()]
answers['3'] = 'Winnie the Pooh (tt1449283)' # +

# 4. Какова средняя длительность фильмов?

In [17]:
data.runtime.mean()
answers['4'] = '110' # +

# 5. Каково медианное значение длительности фильмов?

In [19]:
data.runtime.median()
answers['5'] = '107' # +

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [23]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data.original_title[data.profit == data.profit.max()]
answers['6'] = 'Avatar (tt0499549)' # +

# 7. Какой фильм самый убыточный?

In [24]:
data.original_title[data.profit == data.profit.min()]
answers['7'] = 'The Lone Ranger (tt1210819)' # +

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [6]:
data[data.revenue > data.budget].count()
answers['8'] = '1478' # +

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [72]:
temp_data = data[data['release_year'] == 2008]
temp_data.original_title[temp_data.revenue == temp_data.revenue.max()]
answers['9'] = 'The Dark Knight (tt0468569)' # +

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [78]:
temp_data = data[(data['release_year'] < 2015) | (data['release_year'] > 2011)]
temp_data.original_title[temp_data.profit == temp_data.profit.min()]
answers['10'] = 'The Lone Ranger (tt1210819)' # +

# 11. Какого жанра фильмов больше всего?

In [210]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
list_temp = []
list_list_genres = []
for i in range(1,len(genres_list())):
    list_temp.append(genres_list()[i])
    list_temp.append(data.genres[data.genres.str.contains(genres_list()[i], regex=False)].count())
    list_list_genres.append(list_temp)
    list_temp = []    
df_genres = pd.DataFrame(list_list_genres)
df_genres.sort_values(by=1)

answers['11'] = 'Drama' # +

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [383]:
list_temp = []
list_list_profit = []
for i in range(1,len(genres_list())):
    list_temp.append(genres_list()[i])
    list_temp.append(data.profit[(data.genres.str.contains(genres_list()[i], regex=False)) \
    & (data.profit > 0)].count())
    list_list_profit.append(list_temp)
    list_temp = []    
df_profit = pd.DataFrame(list_list_profit)
df_profit.sort_values(by=1)

answers['12'] = 'Drama' # +

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [300]:
list_temp = []
list_list_revenue = []
for i in range(1,len(director_list())):
    list_temp.append(director_list()[i])
    list_temp.append(data.revenue[data.director.str.contains(director_list()[i], regex=False)].sum())
    list_list_revenue.append(list_temp)
    list_temp = []
df_revenue = pd.DataFrame(list_list_revenue)
df_revenue.sort_values(by=1)

answers['13'] = 'Peter Jackson' # +

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [327]:
list_temp = []
list_list_action = []
for i in range(1,len(director_list())):
    list_temp.append(director_list()[i])
    list_temp.append(data.director[(data.director.str.contains(director_list()[i], regex=False)) \
    & (data.genres.str.contains('Action', regex=False))].count())
    list_list_action.append(list_temp)
    list_temp = []
df_action = pd.DataFrame(list_list_action)
df_action.sort_values(by=1)

answers['14'] = 'Robert Rodriguez' # +

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [348]:
list_temp = []
list_list_cast = []
for i in range(1,len(cast_list_2012())):
    list_temp.append(cast_list_2012()[i])
    list_temp.append(data_2012.revenue[data_2012.cast.str.contains(cast_list_2012()[i], regex=False)].sum())
    list_list_cast.append(list_temp)
    list_temp = []
df_cast = pd.DataFrame(list_list_cast)
df_cast.sort_values(by=1)

answers['15'] = 'Chris Hemsworth' # +

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [ ]:
list_temp = []
list_list_revenue = []
for i in range(1,len(cast_list_top())):
    list_temp.append(cast_list_top()[i])
    list_temp.append(data_top.revenue[data_top.cast.str.contains(cast_list_top()[i], regex=False)].count())
    list_list_revenue.append(list_temp)
    list_temp = []
df_cast_top = pd.DataFrame(list_list_revenue)
df_cast_top.sort_values(by=1)

answers['16'] = 'Matt Damon' # +

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [387]:
list_temp = []
list_list_profit = []
for i in range(1,len(genres_list())):
    list_temp.append(genres_list()[i])
    list_temp.append(data.profit[(data.genres.str.contains(genres_list()[i], regex=False)) \
    & (data.cast.str.contains('Nicolas Cage', regex=False))].count())
    list_list_profit.append(list_temp)
    list_temp = []    
df_profit = pd.DataFrame(list_list_profit)
df_profit.sort_values(by=1)

answers['17'] = 'Thriller' # -

# 18. Самый убыточный фильм от Paramount Pictures

In [74]:
data[data.production_companies.str.contains( 'Paramount Pictures')].sort_values(by='profit')
answers['18'] = 'K-19: The Widowmaker (tt0267626)' # +

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [12]:
data.groupby(['release_year']).sum().sort_values(by='revenue')
answers['19'] = '2015' # +

# 20. Какой самый прибыльный год для студии Warner Bros?

In [16]:
data[data.production_companies.str.contains('Warner Bros')].groupby(['release_year']).sum().sort_values(by='profit')
answers['20'] = '2014' # +

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [36]:
data.groupby(data.release_date.apply(release_date_month)).count().sort_values(by='original_title')
answers['21'] = 'Сентябрь' # +

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [117]:
data[data.release_date.apply(release_date_month) == '6'].groupby(data.release_date.apply(release_date_month))\
.revenue.count()[0]\
+data[data.release_date.apply(release_date_month) == '7'].groupby(data.release_date.apply(release_date_month))\
.revenue.count()[0]\
+data[data.release_date.apply(release_date_month) == '8'].groupby(data.release_date.apply(release_date_month))\
.revenue.count()[0]
answers['22'] = '450' # +

# 23. Для какого режиссера зима – самое продуктивное время года?

In [47]:
data23 = pd.crosstab(data.director, data.release_date.apply(release_date_month))
data23['winter'] = data23['12'] + data23['1'] + data23['2']
data23.sort_values(by='winter')
answers['23'] = 'Peter Jackson' # +

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [83]:
data24 = data
list_productions_films = []
for i in range(len(production_companies_list())):
    list_productions_films.append([production_companies_list()[i], \
    data24[data24.production_companies.str.contains(production_companies_list()[i])].original_title.apply(lambda x: len(x)).mean()])
data24_2 = pd.DataFrame(list_productions_films)
data24_2.sort_values(1).tail(50)
#answers['24'] = 'Four By Two Productions' # +

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                                      0    1
1296                                    XM2 Productions  2.0
955                          Global Entertainment Group  2.0
953                                  Ixtlan Productions  2.0
158                                Berlanti Productions  3.0
1376                              Everest Entertainment  3.0
...                                                 ...  ...
1451                  Warner Independent Pictures (WIP)  NaN
1485                            The Movie Network (TMN)  NaN
1721  Munich Film Partners & Company (MFP) MI2 Produ...  NaN
1731                                Danmarks Radio (DR)  NaN
1754  Munich Film Partners & Company (MFP) ROE Produ...  NaN

[1771 rows x 2 columns]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [49]:
data25 = data
list_productions_films = []
for i in range(len(production_companies_list())):
#for i in range(20):
    list_productions_films.append( \
    [production_companies_list()[i],data25[data25.production_companies.str.contains(production_companies_list()[i])] \
     .overview.apply(lambda x: len(x.split(' '))).mean()])
data25_2 = pd.DataFrame(list_productions_films)
data25_2.sort_values(1).tail(50)
answers['25'] = 'Midnight Picture Show' # +

C:\Users\Dell\anaconda3\lib\site-packages\pandas\core\strings.py:1954: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                                                      0     1
816                                     Empire Pictures  11.0
1144              Motion Picture Corporation of America  11.0
686                                 Projection Pictures  13.0
687                                    London Boulevard  13.0
1053                                  Our Stories Films  13.0
...                                                 ...   ...
1451                  Warner Independent Pictures (WIP)   NaN
1485                            The Movie Network (TMN)   NaN
1721  Munich Film Partners & Company (MFP) MI2 Produ...   NaN
1731                                Danmarks Radio (DR)   NaN
1754  Munich Film Partners & Company (MFP) ROE Produ...   NaN

[1771 rows x 2 columns]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [75]:
data26 = data
data26.vote_average.quantile([0.99])
data26[data26.vote_average > 7.8]
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave' # +

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [91]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Thriller',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [89]:
# и убедиться что ни чего не пропустил)
len(answers)

27